<html lang="<%= html.language %>">
  <head>
    <title><%= seo.title || html.title %></title>
    <meta name="og:title" content="<%= seo.title || html.title %>" />
    <meta name="twitter:title" content="<%= seo.title || html.title %>" />

    <% if (seo.name || html.name) { %>
      <meta name="og:site_name" content="<%= seo.name || html.name %>" />
    <% } %>

    <% if (seo.description || html.description) { %>
      <meta name="description" content="<%= seo.description || html.description %>" />
      <meta name="og:description" content="<%= seo.description || html.description %>" />
      <meta name="twitter:description" content="<%= seo.description || html.description %>" />
    <% } %>

    <% if (seo.image || html.image) { %>
      <meta name="og:image" content="<%= seo.image || html.image %>" />
      <meta name="twitter:image" content="<%= seo.image || html.image %>" />
    <% } %>

    <% if (seo.robots) { %>
      <meta name="robots" content="<%= seo.robots %>" />
    <% } %>

    <% if (seo.locale || html.locale) { %>
      <meta name="og:locale" content="<%= seo.locale || html.locale %>" />
    <% } %>

    <% if (seo.author) { %>
      <meta name="author" content="<%= seo.author %>" />
    <% } %>

    <% if (seo.type) { %>
      <meta name="og:type" content="<%= seo.type %>" />
    <% } %>

    <% if (seo.type) { %>
      <meta name="og:type" content="<%= seo.type %>" />
      <% if (seo.author) { %>
        <meta name="<%= seo.type %>:author" content="<%= seo.author %>" />
      <% } %>
      <% if (seo.publishedTime) { %>
        <meta name="<%= seo.type %>:published_time" content="<%= seo.publishedTime %>" />
      <% } %>
      <% if (seo.modifiedTime) { %>
        <meta name="<%= seo.type %>:modified_time" content="<%= seo.modifiedTime %>" />
      <% } %>
      <% if (seo.topic) { %>
        <meta name="<%= seo.type %>:section" content="<%= seo.topic %>" />
      <% } %>
    <% } %>

    <meta charset="<%= html.charset %>" />

    <meta name="appdata" content="<%= JSON.stringify(appdata) %>" />
    <meta name="enableds" content="<%= JSON.stringify(enableds) %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>
  <body>
    <<%= mount.tag %> id="<%= mount.id %>"<% if (mount.className) { %> class="<%= mount.className %>"<% } %>></<%= mount.tag %>>
  </body>
</html>
