<html lang="<%= html.language %>">
  <head>
    <title><%= html.title %></title>
    <meta charset="<%= html.charset %>" />
    <meta name="ssr-placeholder:seo" content="" />
    <meta name="ssr-placeholder:enableds" content="" />
    <meta name="ssr-placeholder:appdata" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>
  <body>
    <<%= mount.tag %> id="<%= mount.id %>"<% if (mount.className) { %> class="<%= mount.className %>"<% } %>></<%= mount.tag %>>
  </body>
</html>
