@import '~@omnibly/codeblocks-cmn-components/src/components/fonts';
@import '~@omnibly/codeblocks-cmn-components/src/components/mixins';

@mixin root {
  @include scrollbar(page);

  margin: 0;
  min-height: 100%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

@mixin body {
  @include root;

  position: relative;

  @include respond-below(laptop) {
    overflow-x: hidden;
  }
}

html,
body {
  @include body;

  & > body {
    @include body;
  }
}

.App {
  @include root;
  @include text-weight(xs);
  @include z(Common);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  padding-bottom: vr(32);
}

.Content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  background-color: $color-background-accent;
}

.Notifications {
  width: 100%;
  background-color: $color-background-accent;
}
